html,body {
    width:100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Dodge !important;
}           

#maxlogo{
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 0;

}
h1{
  position:absolute;
  top:-20%;
  left:50%;
  color:white;
  transform:translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  
}
#maintext{
    position:absolute;
    top:50%;
    left:50%;
    color:white;
    transform:translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 600px;
    min-width: 600px;
    margin-left:auto;
    margin-right:auto;
}
/*Main Page Button*/
.button1 {
  display: inline-block;
  position: absolute;
  opacity: 0.999;
  margin: .3em;
  padding: .5em 1.5em;
  border-radius: 2px;
  transition: all 0.9s;
  cursor: pointer;
  font-size: 2rem;
  top: 65%;
  right:40%;

}

.button1.btn-border:before,
.button1.btn-border:after {
  content: '';
  border-style: solid;
  position: absolute;
  z-index: 5;
  border-radius: 2px;
  box-sizing: content-box;
  transition: all 0.3s;
}

.button1.btn-border:hover:after {
  height: calc(100% + (4px * 2));
  border-color: #000000;
}

.button1.btn-border:before {
  width: 0;
  height: 100%;
  border-width: 4px 0 4px 0;
  top: -4px;
  left: -4px;
  transition-delay: 0.05s;
}

.button1.btn-border:hover:before {
  width: calc(100% + (4px * 2));
  border-color: #000000;
}

.button1.btn-border:hover {
  color: #1b1b1b;
}

.button1.btn-border:after {
  width: 100%;
  height: 0;
  border-width: 0 4px 0 4px;
  top: -4px;
  left: -4px;
}

.button1.btn-border {
  background-color: rgba(252, 250, 250, 0.541);
  border: 4px solid rgba(0,0,0,.2);
  color: rgba(0, 0, 0, 0.541);
  font-weight: 400;
}


/*video background*/
#videoBG {
    position:fixed;
    z-index: -1;
}
/* This is the nav bar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(27, 27, 27);
  overflow: hidden;
  z-index: 2;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(71, 18, 18);
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media only screen 
and (max-width : 376px) {

  #maxlogo{
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 0;

}
h1{
  position:absolute;
  top:-20%;
  left:50%;
  color:white;
  transform:translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  
}
#maintext{
    position:absolute;
    top:50%;
    left:50%;
    color:white;
    transform:translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 300px;
    min-width: 300px;
    margin-left:auto;
    margin-right:auto;
}
/*Main Page Button*/
.button1 {
  display: inline-block;
  position: absolute;
  opacity: 0.999;
  margin: .3em;
  padding: .5em 1.5em;
  border-radius: 2px;
  transition: all 0.9s;
  cursor: pointer;
  font-size: 2rem;
  top: 75%;
  right:10%;

}

.button1.btn-border:before,
.button1.btn-border:after {
  content: '';
  border-style: solid;
  position: absolute;
  z-index: 5;
  border-radius: 2px;
  box-sizing: content-box;
  transition: all 0.3s;
}

.button1.btn-border:hover:after {
  height: calc(100% + (4px * 2));
  border-color: #000000;
}

.button1.btn-border:before {
  width: 0;
  height: 100%;
  border-width: 4px 0 4px 0;
  top: -4px;
  left: -4px;
  transition-delay: 0.05s;
}

.button1.btn-border:hover:before {
  width: calc(100% + (4px * 2));
  border-color: #000000;
}

.button1.btn-border:hover {
  color: #1b1b1b;
}

.button1.btn-border:after {
  width: 100%;
  height: 0;
  border-width: 0 4px 0 4px;
  top: -4px;
  left: -4px;
}

.button1.btn-border {
  background-color: rgba(252, 250, 250, 0.541);
  border: 4px solid rgba(0,0,0,.2);
  color: rgba(0, 0, 0, 0.541);
  font-weight: 400;
}


/*video background*/
#videoBG {
    position:fixed;
    z-index: -1;
    display:none;
}
/* This is the nav bar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(27, 27, 27);
  overflow: hidden;
  z-index: 2;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(71, 18, 18);
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
 